@import "tailwindcss";

@theme {
    --color-background-green: #132e31;
    --color-white: #f0ebe6;
    --color-accent: #d5573b;
    --color-highlight: #4eb1bc;
    --color-nav: #c2ad99;
    --color-dark: #0c1b1d;
}

:root {
    margin: 0;
    padding: 0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#cursor-light {
    pointer-events: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        700px circle at var(--x) var(--y),
        rgba(78, 177, 188, 0.1),
        transparent 60%
    );
    z-index: 0;
    transition: background 0.05s ease-out;
}
